<body>
    
  <div class="wrapper">
    
     <input type="checkbox" id="sidebar-toggler-check">

     <div class="sidebar shadow" data-color="bcxbg">
     <!--<div class="sidebar" data-color="graphite" data-image="../assets/img/backgrounds/blur-bg.jpg">-->

      <div class="sidebar-header">
          <div class="sidebar-logo">
              <img src="../assets/img/logos/logo.png"/>
              <span>WheresApp</span>
              <!--
                <label class="mini-switch" style="position: fixed; margin-top: 25px; margin-left: 8px;">
                <input type="checkbox" id="minibar-switch">
                <span class="mini-slider round"></span>
              </label>
              -->
          </div>
      </div>

      <div class="sidebar-slider ">
        <span class="fa-stack fa-1x">
          <i class="fa fa-square fa-stack-2x" style="color:rgba(255, 99, 71, 0.973);"></i>
          <i class="fa fa-angle-double-right fa-stack-1x" id="sidebar-toggle-bottom"></i>
        </span>
      </div>

      <div class="sidebar-wrapper"  style="overflow-y: auto">
        <ul>
          <li>
             <a class="sidebar-navlink active text-truncate" href="reports.html" target="myFrame">
              <i class="fa fa-home"></i>
               <span class="d-none d-sm-inline">Dashboard</span>                 
             </a>
          </li>            
          <li>
             <a class="sidebar-navlink text-truncate" href="code-review.html" target="myFrame">
                <i class="fa fa-code"></i>
                <span>Code Reviews</span>
             </a>
          </li>
          <li>
             <a class="sidebar-navlink text-truncate" href="appscans.html" target="myFrame">
                <i class="fa fa-search"></i>
                 <span>AppScans</span>
             </a>
          </li>
          <li>
             <a class="sidebar-navlink text-truncate" href="#submenu2" data-toggle="collapse" data-target="#submenu2">
              <i class="fa fa-university"></i>
               <span class="d-none d-sm-inline">IT Governance</span>
               <div class="submenu-arrows">
                <i class="fa fa-angle-right submenu-arrowr"></i>
                <i class="fa fa-angle-down submenu-arrowd d-none"></i>
               </div>
             </a>
             <div class="collapse" id="submenu2" aria-expanded="false">
                <ul>
                   <li>
                      <a class="sidebar-navlink" href="applications.html" target="myFrame">
                          <i class="fa fa-th-large"></i>
                          <span>Applications</span>
                      </a>
                   </li>
                </ul>
             </div>
             <div class="collapse" id="submenu2" aria-expanded="false">
                <ul>
                   <li>
                      <a class="sidebar-navlink" href="./phone-security.html" target="myFrame">
                         <i class="fa fa-sitemap"></i>
                         <span>Architecture</span>
                      </a>
                   </li>
                </ul>
             </div>
             <div class="collapse" id="submenu2" aria-expanded="false">
                <ul>
                   <li>
                      <a class="sidebar-navlink" href="./phone-security.html" target="myFrame">
                         <i class="fa fa-file"></i>
                         <span>TDD</span>
                      </a>
                   </li>
                </ul>
             </div>                              
          </li>
        </ul>
      </div>
    </div>
  
  </div>

 <div class="main-panel" style="height: 100%;">
    <nav class="navbar navbar-expand-lg bg-white navbar-absolute fixed-top shadow-sm">
      <div class="container-fluid">

        <div class="navbar-wrapper">
          <!--<div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>-->
          
          <label for="sidebar-toggler-check">
            <i class="fas fa-bars" id="sidebar-toggler"></i>
          </label>
          
          <!--
             <a class="navbar-brand" href="#">BCX Management Portal</a>
          -->
         <!--
        <form>
            <div class="search-box">
                <i class="fa fa-search" style="font-size: 18px;"></i>
                <input type="text" class="search-input" placeholder="Search..." />
            </div>
          </form>
       -->
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>

          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1 my-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="nav-bell fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                    Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-1">
                        <div class="icon-circle bg-success">
                        <i class="fas fa-donate text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 7, 2019</div>
                        New Tweet has arrived
                    </div>
                    </a>
                </div>
                </li>
    
                <div class="topbar-divider d-none d-sm-block"></div>
    
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="nav-profile-name mr-2 small">Admin</span>
                    <img class="img-profile rounded-circle" src="../assets/img/faces/athif.jpg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                    </a>
                    <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                    </a>
                    <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                    </a>
                </div>
                </li>
    
            </ul>
          </div>
      </div>
    </nav>

      
        <div class="content" style="height: 100%;">
            <!-- <iframe name="myFrame" id="custInfoFrame" src="reports.html" width="100%" style="border: none;height: 100%;"></iframe> -->
        </div>
        
    
  </div>
</body>